# Python
__pycache__
.pytest_cache
build/
dist/
*.egg
*.egg-info/

# IDE
.vscode
.vs
.idea

# Env
*.env
!.env.example

# Models
*.mlmodel
*.onnx
*.pt
*.pth
*.tflite
*.mlpackage
*.mlpackage.zip
*.dlc
*.gguf

# Images
*.png
*.jpg
*.jpeg
*.gif
!media/**/*.jpg
!media/**/*.jpeg
!media/**/*.gif

# Misc
.DS_Store